<form action="/updateData" method="post" >
    <input type="text" value="<%=data.id%>" name="id" hidden>
    <input type="text" value="<%=data.name%>" name="name">
    <input type="text" value="<%=data.city%>" name="city">
    <button type="submit">Update</button>
</form>